.gameplay {
    border-radius: 10px;
    border: 1px solid rgb(101, 96, 255);
    box-shadow: rgba(67, 67, 223, 0.4) 5px 5px,
    rgba(161, 67, 223, 0.3) 10px 10px,
    rgba(137, 67, 223, 0.2) 15px 15px,
    rgba(111, 67, 223, 0.1) 20px 20px,
    rgba(174, 67, 223, 0.05) 25px 25px;
}